/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900&subset=thai);
@font-face {
  font-family: 'true';
  src: url('../fonts/TLight_1.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TLight_1.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TLight_1.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TrueLight.woff') format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TrueLight.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/TrueLight.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'TMedium';
  src: url('../fonts/TMedium_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TMedium_0.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TMedium_0.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TrueMedium.woff') format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TrueMedium.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/TrueMedium.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'TBold';
  src: url('../fonts/TBold_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TBold_0.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TBold_0.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TrueBold.woff') format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TrueBold.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/TrueBold.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'trueplookpanyaround-bold';
  src: url('../fonts/trueplookpanyaround-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/trueplookpanyaround-bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/trueplookpanyaround-bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/trueplookpanyaround-bold.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/trueplookpanyaround-bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/trueplookpanyaround-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'TrueB';
  src: url('../fonts/TBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TBold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TBold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TBold.woff') format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TBold.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/TBold.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'TrueMedium';
  src: url('../fonts/TMedium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TMedium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TMedium.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TMedium.woff') format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TMedium.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/TMedium.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'TrueTextB';
  src: url('../fonts/TtxtB.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TtxtB.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TtxtB.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TtxtB.woff') format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TtxtB.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/TtxtB.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'TrueTextBBold';
  src: url('../fonts/TtxtBB.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TtxtBB.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TtxtBB.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TtxtBB.woff') format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TtxtBB.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/TtxtBB.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'TrueTextC';
  src: url('../fonts/TtxtC.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TtxtC.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TtxtC.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TtxtC.woff') format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TtxtC.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/TtxtC.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'TruePlook';
  src: url('../fonts/TruePlookpanyaOnline-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TruePlookpanyaOnline-Bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TruePlookpanyaOnline-Bold.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TruePlookpanyaOnline-Bold.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TruePlookpanyaOnline-Bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/TruePlookpanyaOnline-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SukhumvitSet-SemiBold';
  src: url('../fonts/SukhumvitSet-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SukhumvitSet-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/SukhumvitSet-SemiBold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/SukhumvitSet-SemiBold.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/SukhumvitSet-SemiBold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/SukhumvitSet-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SukhumvitSet-Text';
  src: url('../fonts/SukhumvitSet-Text.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SukhumvitSet-Text.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/SukhumvitSet-Text.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/SukhumvitSet-Text.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/SukhumvitSet-Text.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/SukhumvitSet-Text.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SukhumvitSet-Medium';
  src: url('../fonts/SukhumvitSet-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SukhumvitSet-Medium.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/SukhumvitSet-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/SukhumvitSet-Medium.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/SukhumvitSet-Medium.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/SukhumvitSet-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SukhumvitSet-Light';
  src: url('../fonts/SukhumvitSet-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SukhumvitSet-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/SukhumvitSet-Light.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/SukhumvitSet-Light.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/SukhumvitSet-Light.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/SukhumvitSet-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SukhumvitSet-Bold';
  src: url('../fonts/SukhumvitSet-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SukhumvitSet-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/SukhumvitSet-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/SukhumvitSet-Bold.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/SukhumvitSet-Bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/SukhumvitSet-Bold.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Prompt-Regular';
  src: url('../fonts/TrueTextBOnline-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TrueTextBOnline-Regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TrueTextBOnline-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TrueTextBOnline-Regular.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TrueTextBOnline-Regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/TrueTextBOnline-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Prompt-Medium';
  src: url('../fonts/TrueTextBOnline-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TrueTextBOnline-Bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/TrueTextBOnline-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/TrueTextBOnline-Bold.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/TrueTextBOnline-Bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/TrueTextBOnline-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
} /* CSS Document */
@font-face {
  font-family: 'Kanit-Regular';
  src: url('../fonts/kanit-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Kanit-Bold';
  src: url('../fonts/kanit-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Kanit-Light';
  src: url('../fonts/kanit-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt-Regular';
  src: url('../fonts/Prompt-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt-Medium';
  src: url('../fonts/Prompt-Medium.ttf') format('truetype');
}

/* CSS Document */
/*body, html { overflow-x:hidden; }
body{
	font-family: 'Kanit-Regular';
	font-style: normal;
	font-size: 18px;
	color: #333;
}
.container-fluid {
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto
}
.container {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto !important;
	margin-left: auto !important;
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px
}
.no-gutters {
	margin-right: 0;
	margin-left: 0
}
.no-gutters>.col, .no-gutters>[class*=col-] {
	padding-right: 0;
	padding-left: 0
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px
}
a:hover {
    color: #555;
    text-decoration:none;
}

a {
    color: #888;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.txt_login {
    color: #838383;
}
.txt_login:hover {
    color: #555;
    text-decoration: underline;
}
.mt-30{
	margin-top: 30px;
}
.mlr4{
	margin-left: 40px;
	margin-right: 40px;
}
.mlr3{
	margin-left: 30px;
	margin-right: 30px;
}
.pb_5{
	padding-bottom: 5px;
}
.pb_10{
	padding-bottom: 10px;
}
.pl_5{
	padding-left: 5px;
}
.pl_10{
	padding-left: 10px;
}
.txt_black{
	color: #333333;
}
.txt_w{
	color: #FFF;
}
.bg_green{
	background-color:#39B54A;
}
.bg_greenlight{
	background-color:#8CC63F;
}
.bg_yellow{
	background-color: #FBB03B;
}
.bg_red{
	background-color: #F15A24;
}
.bg_gray{
	background-color: #E5E5E5;
}
.bg_blue{
	background-color: #0072BF;
}
.border_w {
    border: 1px solid #FFF !important;
}
.line-height {
    width: 1px;
    height: 46px;
    float: right;
    background-color: #dddddd;
    margin-top: 0px;
}
.table-noborder td, .table-noborder th {
	padding: 0.0rem;
	vertical-align: top;
	border-top: 0px solid #dee2e6;
}*/
@media (min-width: 576px) {
  /*.container {
		max-width: 576px
	}*/
}
@media (min-width: 768px) {
  /*.container {
		max-width: 720px;
	}
	.navbar-nav {
		width: 100%;
		text-align: center;
	}
	.head_contact {
		padding-top: 5px;
	}*/
}
@media (min-width: 992px) {
  /*.container {
		max-width: 960px
	}*/
}
@media (min-width: 1200px) {
  /*.container {
		max-width: 1280px;
	}
	.nav-tabs .nav-link {
		border-left: 1px solid #eee;
		border-top: 1px solid #eee;
		border-right: 1px solid #eee;
		border-bottom: none;
		border-top-left-radius: .25rem;
		border-top-right-radius: .25rem;
		width: 140px;
		text-align: center;
	}*/
}
